.cart-body {
    min-height: 75vh;
    width: 100%;
    padding: 30px 40px;
}
.cart-body--no-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.cart-body__receipt {
    text-align: right;
}
.cart-body__receipt-content {
    margin: 24px 0;
    font-size: 1.3rem;
}
.cart-body__total {
    color: var(--red-highlight-color);
    margin-left: 12px;
}
.cart-body__payment-btn {
    --height-btn: 40px;
    display: inline-block;
    background-color: var(--blue-primary-color);
    height: var(--height-btn);
    border-radius: var(--height-btn);
    width: 144px;
}
.cart-body__payment-btn-content {
    display: flex;
    align-items: center;
    height: var(--height-btn);
    margin-left: 12px;
    color: var(--text-color-3);
}
.cart-body__payment-btn-content svg {
    margin-right: 8px;
}