.add-product-form {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: 80vh;
}
.add-product-form__image-area {
    margin-right: 30px;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-product-form__image-btn {
    border: 1px solid var(--border-color-1);
    border-radius: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    transition: 0.25s;
    text-align: center;
    margin-bottom: 20px;
}
.add-product-form__image-btn:hover {
    background-color: var(--background-color-3);
}
.add-product-form__preview-img-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    border: 1px solid var(--border-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-product-form__preview-img {
    height: 100%;
}
.add-product-form__info-area {
    width: 400px;
}
.add-product-form__info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.add-product-form__info-item-input {
    width: 80%;
    padding: 4px 8px;
    font-size: 18px;
    outline: none;
    border: 1px solid #ccc;
    transition: 0.25s;
    border-radius: 4px;
}
.add-product-form__info-item-input:focus {
    border: 1px solid var(--border-highlight-color-1);
}
#add-product-form__info-item-input-desc {
    resize: none;
}
.add-product-form__info-item--flex-column {
    flex-direction: column;
    align-items: flex-start;
}
.add-product-form__info-item--flex-column .add-product-form__info-item-input {
    width: 100%;
    margin-top: 4px;
}

.add-product-form__btn {
    --height: 50px;
    width: 45%;
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--height);
    color: var(--white-color);
    line-height: var(--height);
    user-select: none;
    cursor: pointer;
}
.add-product-form__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-product-form__btn--submit {
    background-color: var(--green-color);
    transition: 0.25s;
}
.add-product-form__btn--cancel {
    background-color: var(--red-color);
    transition: 0.25s;
}
.add-product-form__btn-label {
    margin-left: 4px;
}
.add-product-form__btn-rect-tag--cancel {
    fill: var(--red-color);
    transition: 0.25s;
}
.add-product-form__btn-rect-tag--submit {
    fill: var(--green-color);
    transition: 0.25s;
}
.add-product-form__btn--submit:hover {
    background-color: var(--green-highlight-color);
}
.add-product-form__btn--submit:hover .add-product-form__btn-rect-tag--submit{
    fill: var(--green-highlight-color);
}
.add-product-form__btn--cancel:hover {
    background-color: var(--red-highlight-color);
}
.add-product-form__btn--cancel:hover .add-product-form__btn-rect-tag--cancel{
    fill: var(--red-highlight-color);
}
.add-product-form__image-input {
    visibility: hidden;
    display: none;
}
.add-product-form__info-item--set-btn {
    margin-top: 30px;
}
.add-product-form__info-item--set-btn-has-mess {
    margin-top: 10px;
}
.add-product-form__info-item--message {
    margin: 0;
}
.add-product-form__message {
    color: var(--error-color);
}
.add-product-form__message--success {
    color: var(--success-color) !important;
}